<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
        <servlet-name>appleirregular</servlet-name>
        <servlet-class>liontime.AppleIrregularSchedulesServlet</servlet-class>
    </servlet>
   <servlet-mapping>
        <servlet-name>appleirregular</servlet-name>
        <url-pattern>/appleirregular</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>irregular</servlet-name>
        <servlet-class>liontime.IrregularSchedulesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>irregular</servlet-name>
        <url-pattern>/irregular</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timeinfo</servlet-name>
        <servlet-class>liontime.TimeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeinfo</servlet-name>
        <url-pattern>/timeinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addirregular</servlet-name>
        <servlet-class>liontime.AddIrregularScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addirregular</servlet-name>
        <url-pattern>/addirregular</url-pattern>
    </servlet-mapping>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>